<footer class="bg-warning bg-opacity-10 lh-sm text-center fixed-bottom" >
  <!-- Grid container -->
  <div class="container p-4">
      <!-- Github link? -->
    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Subscribe for Updates on our App!</strong>
            </p>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form5Example2" class="form-control" />
              <label class="form-label" for="form5Example2">Email address</label>
            </div>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.399)">
    © 2022 appMonster Industries:
    <a class="text-dark" href="https://www.youtube.com/watch?v=TM4Qk_sApHk&ab_channel=MemesTemplates%7C%D9%85%D9%8A%D9%85%D8%B2%D8%AA%D9%85%D8%A8%D9%84%D9%8A%D8%AA%D8%B3">appMonster.com</a>
  </div>
  <!-- Copyright -->
</footer>