<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"> -->
    <link rel="stylesheet" href="/css/style.css">
    <title>The Tech Blog</title>
</head>
<body>
    <div class="top-container">
        <nav>
            <a href="" class="navigation">Home</a>
            <a href="" class="navigation">Dashboard</a>
            <a href="" class="navigation">Logout</a>
        </nav>

        <header class="header">
            <h1 class="app-title">
                The Tech Blog
            </h1>
        </header>
    </div>

    <main>
        {{{ body }}}
    </main>    
    <!-- <script language="javascript" src="js/bootstrap.min.js"></script> -->
</body>
</html>