<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<div class="post">
    <div class="card">
        <h3>Why MVC is so important</h3>
        <h4>Post by Xandromous on 5/8/2020</h4>
    </div>
    <section class="section">
        MVC allows developers to maintain a true separation of concerns, devising their code between the Model layer for data, the View layer for design, and the Controller layer for application logic.
    </section>            
</div>
{{/each}}